:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --section-bg-color: F5F4FA;
  --banner-bg-color: 2f303a;
}
body {
  background-color: ffffff;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.logo {
  color: var(---accent-color);
}
/*site-nav*/
.site-nav {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(---accent-color);
}
.mail {
  color: var(--primary-text-color);
}
.mail:hover,
.mail:focus {
  color: var(---accent-color);
}
.tel {
  color: var(--primary-text-color);
}
/*Hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}
/*feature*/
.feature-list {
  feature-list-style: none;
}
.feature-list .title {
  color: var(--title-text-color);
}
/*section*/
.section-title {
  color: var(--title-text-color);
}
