:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --banner-bg-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
}
body {
  background-color: ffffff;
  color: var(--primary-text-color);
  font-family: Roboto;
}
.list {
  list-style: none;
}
.logo-top {
  color: var(--logo-color);
}
.accent {
  color: var(--accent-color);
}
/*site-nav*/
.site-nav {
  color: var(--title-text-color);
}
.nav-link:active {
  color: var(--accent-color);
}
.mail-top {
  color: var(--primary-text-color);
}
.mail-top:hover,
.mail-top:focus {
  color: var(--accent-color);
}
.tel-top {
  color: var(--primary-text-color);
}
.tel-top:hover,
.tel-top:focus {
  color: var(--accent-color);
}
/*Hero*/
.hero {
  background-color: var(--banner-bg-color);
}
.hero-title {
  color: #ffffff;
}
.button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}
/*feature*/
.feature-title {
  color: var(--title-text-color);
}
/*our job*/
.section-title {
  color: var(--title-text-color);
}
/*our team*/
.surname {
  color: var(--title-text-color);
}
/*footer*/
.basement {
  background-color: var(--banner-bg-color);
}
.basement-logo {
  color: var(--button-text-color);
}
.basement-address {
  color: var(--button-text-color);
}
.mail-basement {
  color: var(--footer-contact-color);
}
.mail-basement:hover,
.mail-basement:focus {
  color: var(--accent-color);
}
.tel-basement {
  color: var(--footer-contact-color);
}
.tel-basement:hover,
.tel-basement:focus {
  color: var(--accent-color);
}
